body {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}
.loader {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader_text {
  color: white;
  font-size: 100px;
}
.movies {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
}
.movies .movie {
  background-color: rgba(0, 0, 0, 0.4);
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin: 5px, 0px;
  padding: 10px;
  max-height: 300px;
  margin-bottom: 30px;
}
.movie_data {
  margin: none;
  color: white;
}
.movie img {
  max-width: 200px;
  margin-right: 20px;
}
.movie_title {
  margin-top: 10px;
  margin-bottom: 0;
}
.movie_year {
  margin: 0;
}
.movie_genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 20px;
}
.movie_genres li {
  margin-right: 10px;
}
.movie_data {
  overflow-x: hidden;
}
